body {
    font-family: verdana;
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #000080;
}
a:hover {
    text-decoration: underline;
}
p.address{
    font-size: 10px;
}

h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-family: verdana;
    font-size: 1em;
    line-height: 1em;
    color: #333;
}
p.normal {
  font-style: normal;
}


p.italic {
  font-style: italic;
}

p.oblique {
  font-style: oblique;
}

p.news {
  text-align: left;
  color: darkred;
  font-weight: bold;
}
p.newsitem {
  text-align: left;
  color: indianred;
  font-weight: bold;
}

p.sectitle {
  text-align: left;
  color: dodgerblue;
  font-weight: bold;
}

#paral {
  text-align: left;
  color: #333;
  margin-left: 50px;
}


footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
      .button {
        background-color: #6699cc;
        border: none;
        color: white;
        padding: 10px 60px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 25px;
        margin: 4px 2px;
        cursor: pointer;
      }
.indent {
  margin-left:2em;
}
