<html>
	<head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/main.css">

	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
        		<li><a href="https://github.com/sdsc-training/webinars" target="_blank">Webinars</a></li>
        		<li><a href="https://github.com/sdsc-training/bootcamps" target="_blank">Bootcamps</a></li>
        		<li><a href="https://hpc-students.sdsc.edu/hpc-training" target="_blank">HPC Student Training</a></li>
    		</ul>
		</nav>
		<div class="container">
			{{ content }}
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:mthomas@sdsc.edu">email: mthomas at sdsc.edu</a></li>
        		<li><a href="https://github.com/sdsc-hpc-training">github.com/sdsc-hpc-training</a></li>
			</ul>
		</footer>
	</body>
</html>


