<!----
---
layout: default
---
---->
<!doctype html>
<html>
   <head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/gpuhack.css">
   </head>
<body>
    <table border=0 width="75%""\ align="center"> <!---- begin main table --->
      <tr><td align='center' valign='top'>
        <img src="./images/gpuhackathon_weblogo.v4.png" alt="SDSC GPU Hackathon" width="800px" class="center"/>
        </td></tr>
      <tr><td align='center' valign='top'>
            <nav>
            <ul>
                  <li><a href="/gpuhackathon">GPU Hackathon Home</a></li>
                  <li><a href="/gpuhackathon/attendee_guide" target="_blank">Attendee Guide</a></li>
                  <li><a href="/gpuhackathon/agenda" target="_blank">Agenda</a></li>
            </ul>
            </nav>
      </td></tr>
    </table>

<!----
---->
<div class="container">
    {{ content }}
</div><!-- /.container -->
<footer>
    <table border=0 width=96%>
       <tr><td align="left">
          <a href="mailto:events@sdsc.edu">email: events at sdsc.edu</a>
       </td>
       <td align="right">
         <a href="https://www.sdsc.edu/education_and_training/training/index.html">Training@SDSC</a>
       </td>
       <tr>
      </table>    	

</footer>
</body>
</html>
