<html>
	<head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/css/gpuhack.css">

	</head>
	<body>
<!----
		<nav>
    		<ul>
        		<li><a href="/gpuhackathon">GPU Hackathon Home</a></li>
        		<li><a href="/gpuhackathon/agenda.html" target="_blank">Agenda</a></li>
    		</ul>
		</nav>
---->
		<div class="container">
			{{ content }}
		</div><!-- /.container -->
		<footer>
<table border=1 widthe=96%>
<tr><td align="left>
 <a href="mailto:mthomas@sdsc.edu">email: mthomas at sdsc.edu</a>
</td>
<td align="right>
<a href="https://github.com/sdsc-training">github.com/sdsc-hpc-training</a>
</td>
<tr>
</table>    	

		</footer>
	</body>
</html>
